@{ ViewData["Title"] = "Home Page"; }
<div class="d-flex flex-column justify-content-center align-items-center vh-100 text-center">
    <img src="~/Images/CTTA.jpg" class="img-fluid" style="max-width: 320px;" alt="Logo CTTA" />
    @if (SignInManager.IsSignedIn(User)) { } else {
        <div class="mt-4">
            <p class="fs-5">Faça seu login:</p>
            <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-primary px-4">Entrar</a>
        </div>
    }
</div>
