@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex flex-column justify-content-center align-items-center vh-100 text-center">

    <img src="~/Images/CTTA.jpg" class="img-fluid" style="max-width: 400px;" alt="Logo CTTA" />

    @if (SignInManager.IsSignedIn(User))
    {
        <!-- Se logado, apenas mostra o logo centralizado -->
    }
    else
    {
        <div class="mt-4">
            <p class="fs-5">Faça seu login:</p>
            <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-primary px-4">Entrar</a>
        </div>
    }

</div>
@* @{
    ViewData["Title"] = "Home Page";
}


@{
    if (SignInManager.IsSignedIn(User))
    {

        <div class="text-center">

            <img src="~/Images/CTTA.jpg" width="500">

        </div>
    }
    else
    {

        <div>
            <div class="text-center">
                <img src="~/Images/CTTA.jpg" width="500">
                <p>Faça seu login:</p>
                <a asp-area="Identity" asp-page="/Account/Login">Entrar</a>
               
            </div>

        </div>
    }
} *@


